div {
    background-position: 0 0, 90px 90px;
    background-image: 
        linear-gradient(45deg, #654430 25%, transparent 25%, transparent 75%, #654430 75%, #654430 100%),
        linear-gradient(45deg, #654430 25%, #f7ebcc 25%, #f7ebcc 75%, #654430 75%, #654430 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex: none;
    justify-content: space-between;
    flex-direction: row;
}

div {
    box-sizing: border-box;
    padding: 45px;
}

div:before, div:after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div:before {
    align-self: flex-start;
    margin-top: -24px;
    margin-left: -24px;
}

div:after {
    align-self: flex-end;
    margin-bottom: -24px;
    margin-right: -24px;
}

div:before, div:after {
    background: #5f5d5e;
    border-radius: 50%;
    border: 3px solid #252324;
    box-shadow: 0px 0px 0px 5px #5f5d5e;
}
